* {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  color: white;
}
header {
  background-color: #623307;
  color: white;
}
li {
  list-style: none;
}
ul {
  padding-left: 15px;
}

footer {
  background-color: #623307;
  color: white;
  padding: 20px;
}
.container-fluid {
  background-color: #e8cb9a;
}
.navbar {
  background-color: #623307;
}

thead,
th,
tr,
td {
  color: black;
}

.enlace {
  color: black;
  float: right;
  margin-top: 20px;
  margin-right: 30px;
  text-decoration: none;
  font-size: 20px;
}

a:hover {
  /* Cuando nos ponemos encima del link  */
  color: #8ecae6;
  text-decoration: underline;
}

tbody tr:nth-child(odd) {
  background-color: #e8cb9a;
}

tbody tr:nth-child(even) {
  background-color: #ffedba;
}

/*.navbar .navbar-brand{
    padding: 0px;
    margin: 10px 0px;
    
}

/*nav{
    padding: 10px 0px;
    margin:0px;
    
}
/*.row div ul li{
    text-decoration: none;
}
/*footer{
    position: relative;
    bottom: 0;
    width: 100%;
    color: white;
    padding-top: 3%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 1%;
    
}
/*.navbar-brand {
    margin: 0px;
    padding: 0px;
}
*/
