* {
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    color: white;
}

header {
    background-color: #623307;
    color: white;
}

ul,
ol {
    list-style: none;
}

.nav>li {
    float: left;
}

.nav li a {
    background-color: #623307;
    color: #fff;
    text-decoration: none;
    padding: 10px 12px;
    display: block;
}

.nav li a:hover {
    background-color: #7c420b;
}

.nav li ul {
    display: none;
    position: absolute;
    min-width: 140px;
}

.nav li:hover>ul {
    display: block;
    background-color: #623307;
}

.nav li ul li {
    position: relative;
}

.nav li ul li ul {
    right: -140px;
    top: 0px;
}

li {
    list-style: none;
}

ul {
    padding-left: 15px;
}

footer {
    background-color: #623307;
    color: white;
    padding: 20px;
}

.container-fluid {
    background-color: #E8CB9A;
}

.navbar {
    background-color: #623307;
}

.contenedor {
    display: flex;
    /*grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 35px;*/
    flex-direction: row;
    color: black;
    flex-wrap: wrap;
    margin: 30px 15px;
    justify-content: space-between;
}

.articulos {
    display: flex;
    flex-direction: row;
    color: black!important;
    margin-top: 15px;
}

.imgArt {
    height: 100px;
    width: 100px;
    margin-right: 10px;
}

div {
    color: black;
}

.articulos:hover {
    border: 2px solid #d0ab7a;
}

.cajaArticulo {
    display: flex;
    flex-flow: row;
}

.contenidoArticulo {
    flex: 3 1 78%;
}

.seccionCom {
    flex: 3 1 23%;
    margin-bottom: 25px;
    margin-top: 40px;
}

.contenidoComentarios {
    margin: 20px 10px 10px 0px;
    border: 1px solid rgb(205, 205, 205);
    border-radius: 10px;
    height: 600px;
    overflow-y: scroll;
}

.contenidoComentarios::-webkit-scrollbar {
    width: 8px;
    /* Tamaño del scroll en vertical */
    height: 8px;
    /* Tamaño del scroll en horizontal */
    display: none;
    /* Ocultar scroll */
}

.contenidoComentarios::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 32px;
}

.contenidoComentarios::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}


/* Cambiamos el fondo cuando esté en active */

.contenidoComentarios::-webkit-scrollbar-thumb:active {
    background-color: #999999;
}

.contenidoComentarios::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 4px;
}


/* Cambiamos el fondo cuando esté en active o hover */

.contenidoComentarios::-webkit-scrollbar-track:hover,
.contenidoComentarios::-webkit-scrollbar-track:active {
    background: #d4d4d4;
}

.bloqueCom {
    border: 1px solid rgb(205, 205, 205);
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: 10px;
}

.comentario>p {
    font-size: 10px;
    color: black;
    margin-bottom: 2px;
    margin-left: 3px;
    text-align: justify;
}

.comentario {
    border: 1px rgb(205, 205, 205) solid;
    border-radius: 4px;
    margin: 4px;
    padding-right: 3px;
}

.fechaComen {
    color: rgb(205, 205, 205)!important;
}

.autorComen {
    font-weight: bold;
}

.tituloArt {
    margin: 30px 20px 20px 50px;
    color: black;
}

.nombreGris {
    color: gray!important;
    text-align: end;
    margin-bottom: 1px;
    padding-right: 10px;
}

.contenidowIxT {
    margin-left: 50px;
    text-align: justify!important;
    margin-right: 20px;
    margin-top: 40px;
}

.contenidowIxT>p,
span {
    color: black;
    text-align: justify!important;
}

.imgTexto {
    width: 35%;
    margin-right: 10px;
}

.celdaCom {
    color: black;
}

input {
    color: black;
}


/*.navbar .navbar-brand{
    padding: 0px;
    margin: 10px 0px;
    
}



/*nav{
    padding: 10px 0px;
    margin:0px;
    
}
/*.row div ul li{
    text-decoration: none;
}
/*footer{
    position: relative;
    bottom: 0;
    width: 100%;
    color: white;
    padding-top: 3%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 1%;
    
}
/*.navbar-brand {
    margin: 0px;
    padding: 0px;
}